.containAll{
  position: relative;
}

#pauseSpinner {
  background:url(http://www.broadwaybalancesamerica.com/images/ajax-loader.gif) center center no-repeat;
  backgroundColor:'transparent';
  border: 'none';
  width: 87px;
  height: 87px;
  z-index: 2;
  left:50%;
  top: 50%;
  margin-left: -44px;
  margin-top: -44px;
  position: absolute;
}

.videoLayover{
  text-align: center;
  z-index: 1;
  position: relative;
}

#networkFailureMessage{
  font-weight: 100;
  font-size: 1.5em;
  width: 70%;
  color: white;
  bottom: 305px;
}
#nextBtn{
  text-align: right;
}
