
<header>
  <div id="uoft"><img src="/assets/images/uoft.png"/></div>
  <div id="iml"><img src="/assets/images/iml.png"/></div>
  <h3 class="headline-dbl text-center">Questionaire</h3>
  <h1 id="blockHead" class="headline-dbl text-center"></h1>
</header>

<form (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="body text-center">
    <div class="text-justify">
      <h3 id="selectAnswer" class="top0 bot20 text-center">Please answer all questions.</h3>


      <ol type="1">
        <li *ngFor = "let question of questions">{{ question.question }}  <br>
          <input required type="radio" name= "{{question.qNumber}}" value="1" ngModel *ngIf="question.a"> {{ question.a }} <br>
          <input type="radio" name= "{{question.qNumber}}" value="2" ngModel *ngIf="question.b"> {{ question.b }} <br>
          <input type="radio" name= "{{question.qNumber}}" value="3" ngModel *ngIf="question.c"> {{ question.c }} <br>
          <input type="radio" name= "{{question.qNumber}}" value="4" ngModel *ngIf="question.d"> {{ question.d }} <br>
          <input type="radio" name= "{{question.qNumber}}" value="5" ngModel *ngIf="question.e"> {{ question.e }} <br>
        </li>
      </ol>
    </div>
    <button class="top30 btn btn-primary btn-sm" type="submit" [disabled]="!f.valid">Submit</button>
    <!--<button id="submitBtn" (click)="onSubmit()" class="top30 btn btn-primary btn-sm">Submit</button>-->
    <button id="nextBtn" class="hide"></button>

  </div>

</form>


