<div class="container">


  <header>
    <div id="uoft"><img src="/assets/images/uoft.png"/></div>
    <div id="iml"><img src="/assets/images/iml.png"/></div>
    <h1 class="headline text-center">Instructions</h1>
  </header>

  <div class="body text-justify">
    <p>Thank you for participating in this research study. You will be asked to watch a series of online videos and rate them on quality and acceptability, and occasionally answer some other questions about your video-watching experience. Please answer all questions as accurately as possible.</p>
    <br>
    <p>Some of the questions refer to the term “technical quality”. For the purposes of this experiment, technical quality will refer to the continuity and completeness of video playback. Therefore, a video that plays from start to finish with no freezing or interruptions would have good technical quality. Interruptions to the video and video failures reduce the technical quality.</p>
    <br>
    <p>The videos will be split into sessions (groups). There will be 10 sessions of 7 videos, for a total of 70 videos.</p>
    <br>
    <p>During the videos, you will have the option to express your opinion about the video using an on-screen panel. You can answer these questions at any time during the video. You do not need to answer these questions, only answer if you feel it is necessary.</p>
    <br>

    <div class="left20">
      <input type="checkbox" name="agree"> I have read and understand the instructions<br>
    </div>

    <div class="text-center">
      <button id="nextBtn" class="top30 btn btn-primary btn-sm" (click)="onSubmit()">Next</button>
    </div>
  </div>
</div>

