  <header>
    <div id="uoft"><img src="/assets/images/uoft.png"/></div>
    <div id="iml"><img src="/assets/images/iml.png"/></div>
    <h1 class="headline text-center">Consent</h1>
  </header>

  <div class="body text-justify">
    <h3 id="selectAnswer" class="top0 bot20 text-center">You need to agree to the consent form to participate in the study.</h3>
    <strong>Study Name:</strong> Crowd Sourcing - Modeling Quality of Experience in Online Video Playback<br><br>

    <strong>Researchers:</strong> <br>
    Dr. M. Chignell, Mechanical and Industrial Engineering, University of Toronto
    <br>
    Mr. James Bond, Mechanical and Industrial Engineering, University of Toronto<br><br>

    <strong>Research Rationale:</strong> Contribute to the advancement of the understanding of Quality of Experience (QoE), a measure of a customer's experiences with a service, through its design and management within real networks by developing models to better assess and predict user evaluations of the QoE during video services.<br><br>

    <strong>Research Procedure:</strong><br>

    You are invited to voluntarily take part in this study and will be rewarded $20 for your time. You are free to refuse to participate or withdraw from the study at any time without penalty.<br><br>

    This experiment will take approximately one hour and half and there is no foreseeable risk or harm to you. You will be asked to experience three sessions of video watching and fill out questionnaires. You will receive an optional five-minute break after session 2.<br><br>

    The study is industry-sponsored; the industry sponsor will not have access to the data collected. All data collected will be coded to protect identity and kept in a secure office. No personal or identifying information will be included in written reports or presentations and all data will be kept in a locked office and on a password encrypted computer, accessible by only the investigators. Furthermore, the data will be securely stored until September 1st, 2021, after which it will be destroyed.<br><br>

    <strong>Contact Information:</strong><br><br>
    If you have any questions about this study, please email: <a>iml.participate@gmail.com</a> Please read the following, checkmark the appropriate box and sign below.<br><br>

    Should you have any questions regarding your rights as participants, please contact the Research Oversight and Compliance Office - Human Research Ethics Program at <a>ethics.review@utoronto.ca</a> or <a>416-946- 3273.</a><br><br>

    Please read the following, checkmark the appropriate box, and click the 'Next' button below.<br><br>

    I <input id="nameInput" value="" type="text" placeholder="Please Specify">, have read this consent form and understand its contents. I understand that I am free to withdraw before or anytime during the study without penalty. <br><br>


    <div class="options text-center">
      <div class="agreement">
        <label for="agreement_chk1">
          <input type="radio" name="agreement" value="yes"/> I voluntarily agree to participate in this study
        </label>
        <br>
        <label for="agreement_chk2">
          <input type="radio" name="agreement" value="no"/> I DO NOT agree to participate in this study
        </label>
      </div>

      <button id="submitBtn" class="top30 btn btn-primary btn-sm">Submit</button>
      <button id="nextBtn" class="hide"></button>
    </div>
  </div>
