<div class="container">
  <header>
    <div id="uoft"><img src="/assets/images/uoft.png"/></div>
    <div id="iml"><img src="/assets/images/iml.png"/></div>
    <h1 class="headline text-center">Rate Video</h1>
  </header>

  <div class="body text-center">

    <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="text-justify">
      <h3 id="selectAnswer" class="top0 bot20 text-center">Please answer all questions.</h3>
      <p class="bot0">How would you rate the technical quality of the video you just watched?</p>
      <ul class="top5 pad0 left20">
        <input required type="radio" name="quality" value="5" ngModel> Excellent <br>
        <input type="radio" name="quality" value="4" ngModel> Good <br>
        <input type="radio" name="quality" value="3" ngModel> Fair <br>
        <input type="radio" name="quality" value="2" ngModel> Poor <br>
        <input type="radio" name="quality" value="1" ngModel> Bad <br>
        <input type="radio" name="quality" value="0" ngModel> Terrible <br>
      </ul>
    </div>
    <button id="submitBtn" class="top30 btn btn-primary btn-sm" type="submit" [disabled]="!f.valid">Next</button>
    <button id="nextBtn" class="hide"></button>

    </form>
  </div>
</div>





