ytd-searchbox #search-input {
  width: 100%;
}
[invert] *:not([style-scope]):not(.style-scope) {
  --yt-brand-paper-button-color: hsl(0, 100%, 50%);
  --yt-brand-color: hsl(0, 100%, 50%);
}
*:not([style-scope]):not(.style-scope) {
  --yt-primary-color: hsl(0, 0%, 6.7%);
  --yt-primary-text-color: hsl(0, 0%, 6.7%);
  --yt-hovered-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-secondary-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-disabled-text-color: hsla(0, 0%, 6.7%, 0.3);
  --yt-placeholder-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-border-color: hsl(0, 0%, 93.3%);
  --yt-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
  --yt-searchbox-legacy-border-color: #ccc;
  --yt-searchbox-legacy-border-shadow-color: #eee;
  --yt-searchbox-legacy-button-color: #f8f8f8;
  --yt-searchbox-legacy-button-border-color: #d3d3d3;
  --yt-searchbox-legacy-button-focus-color: #e9e9e9;
  --yt-searchbox-legacy-button-hover-color: #f0f0f0;
  --yt-searchbox-legacy-button-hover-border-color: #c6c6c6;
  --yt-searchbox-legacy-button-icon-color: #333;
  --yt-commentbox-border-inactive: hsl(0, 0%, 93.3%);
  --yt-commentbox-border-active: hsla(0, 0%, 6.7%, .6);
  --yt-primary-disabled-button-text-color: hsl(0, 0%, 100%);
  --yt-disabled-paper-button-color: var(--yt-disabled-text-color);
  --yt-brand-paper-button-color: hsl(3, 81.8%, 49.6%);
  --yt-paper-radio-button-checked-color: hsl(0, 0%, 53.3%);
  --yt-paper-button-ink-color: hsl(0, 0%, 53.3%);
  --yt-icon-color: hsla(0, 0%, 6.7%, .4);
  --yt-icon-hover-color: hsla(0, 0%, 6.7%, .8);
  --yt-icon-disabled-color: hsla(0, 0%, 6.7%, .6);
  --yt-icon-active-color: hsl(0, 0%, 6.7%);
  --yt-expand-color: hsla(0, 0%, 6.7%, .6);
  --yt-metadata-color: hsla(0, 0%, 6.7%, .6);
  --yt-toggle-color: hsl(206.1, 79.3%, 52.7%);
  --yt-playlist-background-header: hsl(0, 0%, 93.3%);
  --yt-playlist-background-item: hsla(0, 0%, 93.3%, .6);
  --yt-playlist-title-text: hsl(0, 0%, 6.7%);
  --yt-playlist-message-text: hsla(0, 0%, 6.7%, .6);
  --yt-subscribe-button-text-color: hsl(0, 0%, 100%);
  --yt-brand-color: hsl(3, 81.8%, 49.6%);
  --yt-button-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-button-payment-text-color: hsl(0, 0%, 100%);
  --yt-video-publish-date-color: hsla(0, 0%, 6.7%, .6);
  --yt-vat-notice-text: hsla(0, 0%, 6.7%, .6);
  --yt-copyright-text: hsla(0, 0%, 6.7%, .6);
  --yt-guide-entry-hover-background-color: hsla(0, 0%, 0%, .04);
  --yt-survey-button-color: hsl(206.1, 79.3%, 52.7%);
  --yt-thumbnail-placeholder-color: hsl(0, 0%, 89%);
  --yt-transcript-cue-hover-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-text: hsl(0, 0%, 6.7%);
  --yt-featured-channel-title-text-color: hsla(0, 0%, 0%, .54);
  --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
  --yt-badge-background: hsla(0, 0%, 93.3%, .6);
  --yt-badge-disabled-color: hsla(0, 0%, 53.3%, .4);
  --yt-collection-badge-color: hsla(0, 0%, 6.7%, .8);
  --yt-owner-badge-color: hsla(0, 0%, 6.7%, .4);
  --yt-simple-badge-color: hsla(0, 0%, 6.7%, .6);
  --yt-ad-badge-text-color: hsl(0, 0%, 100%);
  --yt-simple-menu-header-background: hsl(0, 0%, 93.3%);
  --yt-item-section-header-color: hsla(0, 0%, 6.7%, .6);
  --yt-menu-hover-backgound-color: hsl(0, 0%, 93.3%);
  --yt-menu-focus-background-color: hsla(0, 0%, 6.7%, .2);
  --yt-app-background: hsl(0, 0%, 100%);
  --yt-main-app-background: hsl(0, 0%, 98%);
  --yt-main-app-background-tmp: hsl(0, 0%, 100%);
  --yt-guide-background: hsl(0, 0%, 96%);
  --yt-dialog-background: hsl(0, 0%, 100%);
  --yt-searchbox-background: hsl(0, 0%, 100%);
  --yt-channel-header-background: hsl(0, 0%, 98%);
  --yt-playlist-sidebar-background: hsl(0, 0%, 98%);
  --yt-transcript-background: hsl(0, 0%, 100%);
  --yt-watch-card-secondary-text-color: hsl(0, 0%, 53.3%);
  --yt-watch-card-album-header-background: hsl(0, 0%, 100%);
  --yt-comment-text-color: hsl(0, 0%, 6.7%);
  --yt-comment-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-moderation-panel-background: hsla(0, 0%, 93.3%, .6);
  --yt-moderation-panel-hover: hsla(0, 0%, 93.3%, .8);
  --yt-moderation-panel-comment-text: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-comment-metadata-text: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-color: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-hover-color: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-likely-spam-divider: hsla(0, 0%, 53.3%, .1);
  --yt-backstage-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-backstage-video-link-background-color: hsla(0, 0%, 93.3%, .4);
  --yt-backstage-image-alert-color: hsla(0, 0%, 6.7%, .6);
  --yt-backstage-cancel-background-color: hsl(0, 0%, 100%);
  --yt-backstage-cancel-color: hsla(0, 0%, 6.7%, .4);
  --yt-shopping-product-info: hsla(0, 0%, 6.7%, .8);
  --yt-offer-background-color: hsla(0, 0%, 93.3%, .4);
}
canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
user agent stylesheet
div {
  display: block;
}
Inherited from div#container.style-scope.ytd-searchbox
<style>…</style>
          #container.ytd-searchbox {
            position: relative;
            align-items: center;
            background-color: var(--yt-swatch-textbox-bg, var(--yt-searchbox-background));
            border: 1px solid var(--yt-searchbox-border-color);
            border-radius: 2px;
            color: hsla(0, 0%, 6.7%, .4);
            padding: 0 8px;
            -ms-flex: 1 1 0.000000001px;
            -webkit-flex: 1;
            flex: 1;
            -webkit-flex-basis: 0.000000001px;
            flex-basis: 0.000000001px;
            display: flex;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
          }
Inherited from ytd-searchbox#search.style-scope.ytd-masthead
<style>…</style>
          ytd-searchbox.ytd-masthead {
            margin: 0 40px;
            color: var(--yt-swatch-text);
            display: flex;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -ms-flex: 1 1 0.000000001px;
            -webkit-flex: 1;
            flex: 1;
            -webkit-flex-basis: 0.000000001px;
            flex-basis: 0.000000001px;
          }
Inherited from ytd-masthead#masthead
[invert] *:not([style-scope]):not(.style-scope) {
  --yt-brand-paper-button-color: hsl(0, 100%, 50%);
  --yt-brand-color: hsl(0, 100%, 50%);
}
*:not([style-scope]):not(.style-scope) {
  --yt-primary-color: hsl(0, 0%, 6.7%);
  --yt-primary-text-color: hsl(0, 0%, 6.7%);
  --yt-hovered-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-secondary-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-disabled-text-color: hsla(0, 0%, 6.7%, 0.3);
  --yt-placeholder-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-border-color: hsl(0, 0%, 93.3%);
  --yt-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
  --yt-searchbox-legacy-border-color: #ccc;
  --yt-searchbox-legacy-border-shadow-color: #eee;
  --yt-searchbox-legacy-button-color: #f8f8f8;
  --yt-searchbox-legacy-button-border-color: #d3d3d3;
  --yt-searchbox-legacy-button-focus-color: #e9e9e9;
  --yt-searchbox-legacy-button-hover-color: #f0f0f0;
  --yt-searchbox-legacy-button-hover-border-color: #c6c6c6;
  --yt-searchbox-legacy-button-icon-color: #333;
  --yt-commentbox-border-inactive: hsl(0, 0%, 93.3%);
  --yt-commentbox-border-active: hsla(0, 0%, 6.7%, .6);
  --yt-primary-disabled-button-text-color: hsl(0, 0%, 100%);
  --yt-disabled-paper-button-color: var(--yt-disabled-text-color);
  --yt-brand-paper-button-color: hsl(3, 81.8%, 49.6%);
  --yt-paper-radio-button-checked-color: hsl(0, 0%, 53.3%);
  --yt-paper-button-ink-color: hsl(0, 0%, 53.3%);
  --yt-icon-color: hsla(0, 0%, 6.7%, .4);
  --yt-icon-hover-color: hsla(0, 0%, 6.7%, .8);
  --yt-icon-disabled-color: hsla(0, 0%, 6.7%, .6);
  --yt-icon-active-color: hsl(0, 0%, 6.7%);
  --yt-expand-color: hsla(0, 0%, 6.7%, .6);
  --yt-metadata-color: hsla(0, 0%, 6.7%, .6);
  --yt-toggle-color: hsl(206.1, 79.3%, 52.7%);
  --yt-playlist-background-header: hsl(0, 0%, 93.3%);
  --yt-playlist-background-item: hsla(0, 0%, 93.3%, .6);
  --yt-playlist-title-text: hsl(0, 0%, 6.7%);
  --yt-playlist-message-text: hsla(0, 0%, 6.7%, .6);
  --yt-subscribe-button-text-color: hsl(0, 0%, 100%);
  --yt-brand-color: hsl(3, 81.8%, 49.6%);
  --yt-button-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-button-payment-text-color: hsl(0, 0%, 100%);
  --yt-video-publish-date-color: hsla(0, 0%, 6.7%, .6);
  --yt-vat-notice-text: hsla(0, 0%, 6.7%, .6);
  --yt-copyright-text: hsla(0, 0%, 6.7%, .6);
  --yt-guide-entry-hover-background-color: hsla(0, 0%, 0%, .04);
  --yt-survey-button-color: hsl(206.1, 79.3%, 52.7%);
  --yt-thumbnail-placeholder-color: hsl(0, 0%, 89%);
  --yt-transcript-cue-hover-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-text: hsl(0, 0%, 6.7%);
  --yt-featured-channel-title-text-color: hsla(0, 0%, 0%, .54);
  --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
  --yt-badge-background: hsla(0, 0%, 93.3%, .6);
  --yt-badge-disabled-color: hsla(0, 0%, 53.3%, .4);
  --yt-collection-badge-color: hsla(0, 0%, 6.7%, .8);
  --yt-owner-badge-color: hsla(0, 0%, 6.7%, .4);
  --yt-simple-badge-color: hsla(0, 0%, 6.7%, .6);
  --yt-ad-badge-text-color: hsl(0, 0%, 100%);
  --yt-simple-menu-header-background: hsl(0, 0%, 93.3%);
  --yt-item-section-header-color: hsla(0, 0%, 6.7%, .6);
  --yt-menu-hover-backgound-color: hsl(0, 0%, 93.3%);
  --yt-menu-focus-background-color: hsla(0, 0%, 6.7%, .2);
  --yt-app-background: hsl(0, 0%, 100%);
  --yt-main-app-background: hsl(0, 0%, 98%);
  --yt-main-app-background-tmp: hsl(0, 0%, 100%);
  --yt-guide-background: hsl(0, 0%, 96%);
  --yt-dialog-background: hsl(0, 0%, 100%);
  --yt-searchbox-background: hsl(0, 0%, 100%);
  --yt-channel-header-background: hsl(0, 0%, 98%);
  --yt-playlist-sidebar-background: hsl(0, 0%, 98%);
  --yt-transcript-background: hsl(0, 0%, 100%);
  --yt-watch-card-secondary-text-color: hsl(0, 0%, 53.3%);
  --yt-watch-card-album-header-background: hsl(0, 0%, 100%);
  --yt-comment-text-color: hsl(0, 0%, 6.7%);
  --yt-comment-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-moderation-panel-background: hsla(0, 0%, 93.3%, .6);
  --yt-moderation-panel-hover: hsla(0, 0%, 93.3%, .8);
  --yt-moderation-panel-comment-text: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-comment-metadata-text: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-color: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-hover-color: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-likely-spam-divider: hsla(0, 0%, 53.3%, .1);
  --yt-backstage-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-backstage-video-link-background-color: hsla(0, 0%, 93.3%, .4);
  --yt-backstage-image-alert-color: hsla(0, 0%, 6.7%, .6);
  --yt-backstage-cancel-background-color: hsl(0, 0%, 100%);
  --yt-backstage-cancel-color: hsla(0, 0%, 6.7%, .4);
  --yt-shopping-product-info: hsla(0, 0%, 6.7%, .8);
  --yt-offer-background-color: hsla(0, 0%, 93.3%, .4);
}
Inherited from ytd-app
Style Attribute {
  --ytd-app-scroll-offset: 0;
}
[invert] *:not([style-scope]):not(.style-scope) {
  --yt-brand-paper-button-color: hsl(0, 100%, 50%);
  --yt-brand-color: hsl(0, 100%, 50%);
}
ytd-app:not([style-scope]):not(.style-scope) {
  --yt-search-correction_-_margin-top: 24px;
  --yt-search-correction-corrected_-_color: var(--yt-primary-text-color);
  --yt-search-correction-corrected_-_font-size: 1.3rem;
  --yt-search-correction-corrected_-_font-weight: 400;
  --yt-search-correction-corrected_-_line-height: 1.8rem;
  --yt-search-correction-corrected_-_text-transform: none;
  --yt-search-correction-corrected-link_-_font-size: 1.4rem;
  --yt-search-correction-corrected-link_-_font-weight: 500;
  --yt-search-correction-corrected-link_-_line-height: 1.6rem;
  --yt-search-correction-original_-_padding-left: 8px;
  --yt-search-correction-original_-_color: var(--yt-primary-text-color);
  --yt-search-correction-original_-_font-size: 1.3rem;
  --yt-search-correction-original_-_font-weight: 400;
  --yt-search-correction-original_-_line-height: 1.8rem;
  --yt-search-correction-original_-_text-transform: none;
  --yt-search-correction-original-link_-_font-size: 1.4rem;
  --yt-search-correction-original-link_-_font-weight: 500;
  --yt-search-correction-original-link_-_line-height: 1.6rem;
  --yt-endpoint_-_display: inline-block;
  --yt-endpoint_-_cursor: pointer;
  --yt-endpoint_-_text-decoration: none;
  --yt-endpoint_-_color: var(--yt-endpoint-color, hsl(0, 0%, 6.7%));
  --yt-endpoint-hover_-_color: var(--yt-endpoint-hover-color, var(--yt-endpoint-color));
  --yt-endpoint-hover_-_text-decoration: none;
}
*:not([style-scope]):not(.style-scope) {
  --yt-primary-color: hsl(0, 0%, 6.7%);
  --yt-primary-text-color: hsl(0, 0%, 6.7%);
  --yt-hovered-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-secondary-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-disabled-text-color: hsla(0, 0%, 6.7%, 0.3);
  --yt-placeholder-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-border-color: hsl(0, 0%, 93.3%);
  --yt-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
  --yt-searchbox-legacy-border-color: #ccc;
  --yt-searchbox-legacy-border-shadow-color: #eee;
  --yt-searchbox-legacy-button-color: #f8f8f8;
  --yt-searchbox-legacy-button-border-color: #d3d3d3;
  --yt-searchbox-legacy-button-focus-color: #e9e9e9;
  --yt-searchbox-legacy-button-hover-color: #f0f0f0;
  --yt-searchbox-legacy-button-hover-border-color: #c6c6c6;
  --yt-searchbox-legacy-button-icon-color: #333;
  --yt-commentbox-border-inactive: hsl(0, 0%, 93.3%);
  --yt-commentbox-border-active: hsla(0, 0%, 6.7%, .6);
  --yt-primary-disabled-button-text-color: hsl(0, 0%, 100%);
  --yt-disabled-paper-button-color: var(--yt-disabled-text-color);
  --yt-brand-paper-button-color: hsl(3, 81.8%, 49.6%);
  --yt-paper-radio-button-checked-color: hsl(0, 0%, 53.3%);
  --yt-paper-button-ink-color: hsl(0, 0%, 53.3%);
  --yt-icon-color: hsla(0, 0%, 6.7%, .4);
  --yt-icon-hover-color: hsla(0, 0%, 6.7%, .8);
  --yt-icon-disabled-color: hsla(0, 0%, 6.7%, .6);
  --yt-icon-active-color: hsl(0, 0%, 6.7%);
  --yt-expand-color: hsla(0, 0%, 6.7%, .6);
  --yt-metadata-color: hsla(0, 0%, 6.7%, .6);
  --yt-toggle-color: hsl(206.1, 79.3%, 52.7%);
  --yt-playlist-background-header: hsl(0, 0%, 93.3%);
  --yt-playlist-background-item: hsla(0, 0%, 93.3%, .6);
  --yt-playlist-title-text: hsl(0, 0%, 6.7%);
  --yt-playlist-message-text: hsla(0, 0%, 6.7%, .6);
  --yt-subscribe-button-text-color: hsl(0, 0%, 100%);
  --yt-brand-color: hsl(3, 81.8%, 49.6%);
  --yt-button-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-button-payment-text-color: hsl(0, 0%, 100%);
  --yt-video-publish-date-color: hsla(0, 0%, 6.7%, .6);
  --yt-vat-notice-text: hsla(0, 0%, 6.7%, .6);
  --yt-copyright-text: hsla(0, 0%, 6.7%, .6);
  --yt-guide-entry-hover-background-color: hsla(0, 0%, 0%, .04);
  --yt-survey-button-color: hsl(206.1, 79.3%, 52.7%);
  --yt-thumbnail-placeholder-color: hsl(0, 0%, 89%);
  --yt-transcript-cue-hover-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-text: hsl(0, 0%, 6.7%);
  --yt-featured-channel-title-text-color: hsla(0, 0%, 0%, .54);
  --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
  --yt-badge-background: hsla(0, 0%, 93.3%, .6);
  --yt-badge-disabled-color: hsla(0, 0%, 53.3%, .4);
  --yt-collection-badge-color: hsla(0, 0%, 6.7%, .8);
  --yt-owner-badge-color: hsla(0, 0%, 6.7%, .4);
  --yt-simple-badge-color: hsla(0, 0%, 6.7%, .6);
  --yt-ad-badge-text-color: hsl(0, 0%, 100%);
  --yt-simple-menu-header-background: hsl(0, 0%, 93.3%);
  --yt-item-section-header-color: hsla(0, 0%, 6.7%, .6);
  --yt-menu-hover-backgound-color: hsl(0, 0%, 93.3%);
  --yt-menu-focus-background-color: hsla(0, 0%, 6.7%, .2);
  --yt-app-background: hsl(0, 0%, 100%);
  --yt-main-app-background: hsl(0, 0%, 98%);
  --yt-main-app-background-tmp: hsl(0, 0%, 100%);
  --yt-guide-background: hsl(0, 0%, 96%);
  --yt-dialog-background: hsl(0, 0%, 100%);
  --yt-searchbox-background: hsl(0, 0%, 100%);
  --yt-channel-header-background: hsl(0, 0%, 98%);
  --yt-playlist-sidebar-background: hsl(0, 0%, 98%);
  --yt-transcript-background: hsl(0, 0%, 100%);
  --yt-watch-card-secondary-text-color: hsl(0, 0%, 53.3%);
  --yt-watch-card-album-header-background: hsl(0, 0%, 100%);
  --yt-comment-text-color: hsl(0, 0%, 6.7%);
  --yt-comment-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-moderation-panel-background: hsla(0, 0%, 93.3%, .6);
  --yt-moderation-panel-hover: hsla(0, 0%, 93.3%, .8);
  --yt-moderation-panel-comment-text: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-comment-metadata-text: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-color: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-hover-color: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-likely-spam-divider: hsla(0, 0%, 53.3%, .1);
  --yt-backstage-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-backstage-video-link-background-color: hsla(0, 0%, 93.3%, .4);
  --yt-backstage-image-alert-color: hsla(0, 0%, 6.7%, .6);
  --yt-backstage-cancel-background-color: hsl(0, 0%, 100%);
  --yt-backstage-cancel-color: hsla(0, 0%, 6.7%, .4);
  --yt-shopping-product-info: hsla(0, 0%, 6.7%, .8);
  --yt-offer-background-color: hsla(0, 0%, 93.3%, .4);
}
<style>…</style>
          ytd-app {
            --app-drawer-width: 240px;
            --app-drawer-content-container_-_background-color: var(--yt-main-app-background);
            background: var(--yt-main-app-background);
            display: block;
            left: 0;
            min-height: 100%;
            position: absolute;
            right: 0;
            top: 0;
          }
Inherited from body
*:not([style-scope]):not(.style-scope) {
  --yt-primary-color: hsl(0, 0%, 6.7%);
  --yt-primary-text-color: hsl(0, 0%, 6.7%);
  --yt-hovered-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-secondary-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-disabled-text-color: hsla(0, 0%, 6.7%, 0.3);
  --yt-placeholder-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-border-color: hsl(0, 0%, 93.3%);
  --yt-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
  --yt-searchbox-legacy-border-color: #ccc;
  --yt-searchbox-legacy-border-shadow-color: #eee;
  --yt-searchbox-legacy-button-color: #f8f8f8;
  --yt-searchbox-legacy-button-border-color: #d3d3d3;
  --yt-searchbox-legacy-button-focus-color: #e9e9e9;
  --yt-searchbox-legacy-button-hover-color: #f0f0f0;
  --yt-searchbox-legacy-button-hover-border-color: #c6c6c6;
  --yt-searchbox-legacy-button-icon-color: #333;
  --yt-commentbox-border-inactive: hsl(0, 0%, 93.3%);
  --yt-commentbox-border-active: hsla(0, 0%, 6.7%, .6);
  --yt-primary-disabled-button-text-color: hsl(0, 0%, 100%);
  --yt-disabled-paper-button-color: var(--yt-disabled-text-color);
  --yt-brand-paper-button-color: hsl(3, 81.8%, 49.6%);
  --yt-paper-radio-button-checked-color: hsl(0, 0%, 53.3%);
  --yt-paper-button-ink-color: hsl(0, 0%, 53.3%);
  --yt-icon-color: hsla(0, 0%, 6.7%, .4);
  --yt-icon-hover-color: hsla(0, 0%, 6.7%, .8);
  --yt-icon-disabled-color: hsla(0, 0%, 6.7%, .6);
  --yt-icon-active-color: hsl(0, 0%, 6.7%);
  --yt-expand-color: hsla(0, 0%, 6.7%, .6);
  --yt-metadata-color: hsla(0, 0%, 6.7%, .6);
  --yt-toggle-color: hsl(206.1, 79.3%, 52.7%);
  --yt-playlist-background-header: hsl(0, 0%, 93.3%);
  --yt-playlist-background-item: hsla(0, 0%, 93.3%, .6);
  --yt-playlist-title-text: hsl(0, 0%, 6.7%);
  --yt-playlist-message-text: hsla(0, 0%, 6.7%, .6);
  --yt-subscribe-button-text-color: hsl(0, 0%, 100%);
  --yt-brand-color: hsl(3, 81.8%, 49.6%);
  --yt-button-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-button-payment-text-color: hsl(0, 0%, 100%);
  --yt-video-publish-date-color: hsla(0, 0%, 6.7%, .6);
  --yt-vat-notice-text: hsla(0, 0%, 6.7%, .6);
  --yt-copyright-text: hsla(0, 0%, 6.7%, .6);
  --yt-guide-entry-hover-background-color: hsla(0, 0%, 0%, .04);
  --yt-survey-button-color: hsl(206.1, 79.3%, 52.7%);
  --yt-thumbnail-placeholder-color: hsl(0, 0%, 89%);
  --yt-transcript-cue-hover-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-text: hsl(0, 0%, 6.7%);
  --yt-featured-channel-title-text-color: hsla(0, 0%, 0%, .54);
  --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
  --yt-badge-background: hsla(0, 0%, 93.3%, .6);
  --yt-badge-disabled-color: hsla(0, 0%, 53.3%, .4);
  --yt-collection-badge-color: hsla(0, 0%, 6.7%, .8);
  --yt-owner-badge-color: hsla(0, 0%, 6.7%, .4);
  --yt-simple-badge-color: hsla(0, 0%, 6.7%, .6);
  --yt-ad-badge-text-color: hsl(0, 0%, 100%);
  --yt-simple-menu-header-background: hsl(0, 0%, 93.3%);
  --yt-item-section-header-color: hsla(0, 0%, 6.7%, .6);
  --yt-menu-hover-backgound-color: hsl(0, 0%, 93.3%);
  --yt-menu-focus-background-color: hsla(0, 0%, 6.7%, .2);
  --yt-app-background: hsl(0, 0%, 100%);
  --yt-main-app-background: hsl(0, 0%, 98%);
  --yt-main-app-background-tmp: hsl(0, 0%, 100%);
  --yt-guide-background: hsl(0, 0%, 96%);
  --yt-dialog-background: hsl(0, 0%, 100%);
  --yt-searchbox-background: hsl(0, 0%, 100%);
  --yt-channel-header-background: hsl(0, 0%, 98%);
  --yt-playlist-sidebar-background: hsl(0, 0%, 98%);
  --yt-transcript-background: hsl(0, 0%, 100%);
  --yt-watch-card-secondary-text-color: hsl(0, 0%, 53.3%);
  --yt-watch-card-album-header-background: hsl(0, 0%, 100%);
  --yt-comment-text-color: hsl(0, 0%, 6.7%);
  --yt-comment-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-moderation-panel-background: hsla(0, 0%, 93.3%, .6);
  --yt-moderation-panel-hover: hsla(0, 0%, 93.3%, .8);
  --yt-moderation-panel-comment-text: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-comment-metadata-text: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-color: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-hover-color: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-likely-spam-divider: hsla(0, 0%, 53.3%, .1);
  --yt-backstage-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-backstage-video-link-background-color: hsla(0, 0%, 93.3%, .4);
  --yt-backstage-image-alert-color: hsla(0, 0%, 6.7%, .6);
  --yt-backstage-cancel-background-color: hsl(0, 0%, 100%);
  --yt-backstage-cancel-color: hsla(0, 0%, 6.7%, .4);
  --yt-shopping-product-info: hsla(0, 0%, 6.7%, .8);
  --yt-offer-background-color: hsla(0, 0%, 93.3%, .4);
}
Inherited from html
Style Attribute {
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  background-color: #fafafa;
}
html:not([style-scope]):not(.style-scope) {
  --yt-live-chat-action-panel-background-color: hsla(0, 0%, 93.3%, .4);
  --yt-live-chat-action-panel-background-color-transparent: hsla(0, 0%, 97%, .8);
  --yt-live-chat-primary-text-color: hsl(0, 0%, 6.7%);
  --yt-live-chat-secondary-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-live-chat-tertiary-text-color: hsla(0, 0%, 6.7%, .4);
  --yt-formatted-string-emoji-size: 24px;
}
html:not([style-scope]):not(.style-scope) {
  --yt-swatch-icon-color: hsla(0, 0%, 6.7%, .4);
  --yt-swatch-primary: hsl(0, 0%, 100%);
  --yt-swatch-primary-darker: rgb(230, 230, 230);
  --yt-swatch-text: hsla(0, 0%, 6.7%, .4);
  --yt-swatch-input-text: hsl(0, 0%, 6.7%);
  --yt-swatch-textbox-bg: rgb(255, 255, 255);
}
html:not([style-scope]):not(.style-scope) {
  --yt-button-margin: 0;
  --yt-button-padding: 10px 16px;
  --yt-button-border-radius: 2px;
}
html:not([style-scope]):not(.style-scope) {
  --paper-input-container-focus-color: hsl(0, 0%, 6.7%);
  --yt-search-correction_-_margin-top: 24px;
  --yt-search-correction-corrected_-_color: var(--yt-primary-text-color, hsl(0, 0%, 6.7%));
  --yt-search-correction-corrected_-_font-size: 1.3rem;
  --yt-search-correction-corrected_-_font-weight: 400;
  --yt-search-correction-corrected_-_line-height: 1.8rem;
  --yt-search-correction-corrected_-_text-transform: none;
  --yt-search-correction-corrected-link_-_font-size: 1.4rem;
  --yt-search-correction-corrected-link_-_font-weight: 500;
  --yt-search-correction-corrected-link_-_line-height: 1.6rem;
  --yt-search-correction-original_-_padding-left: 8px;
  --yt-search-correction-original_-_color: var(--yt-primary-text-color, hsl(0, 0%, 6.7%));
  --yt-search-correction-original_-_font-size: 1.3rem;
  --yt-search-correction-original_-_font-weight: 400;
  --yt-search-correction-original_-_line-height: 1.8rem;
  --yt-search-correction-original_-_text-transform: none;
  --yt-search-correction-original-link_-_font-size: 1.4rem;
  --yt-search-correction-original-link_-_font-weight: 500;
  --yt-search-correction-original-link_-_line-height: 1.6rem;
  --yt-endpoint_-_display: inline-block;
  --yt-endpoint_-_cursor: pointer;
  --yt-endpoint_-_text-decoration: none;
  --yt-endpoint_-_color: var(--yt-endpoint-color, hsl(0, 0%, 6.7%));
  --yt-endpoint-hover_-_color: var(--yt-endpoint-hover-color, var(--yt-endpoint-color));
  --yt-endpoint-hover_-_text-decoration: none;
}
html:not([style-scope]):not(.style-scope) {
  --ytd-thumbnail-height: 118px;
  --ytd-channel-trailer_-_height: 340px;
  --ytd-channel-trailer_-_width: 602px;
  --ytd-channel-trailer_-_width: 424px;
  --ytd-channel-trailer_-_height: 238px;
}
html:not([style-scope]):not(.style-scope) {
  --primary-text-color: #212121;
  --disabled-text-color: #9b9b9b;
  --divider-color: #dbdbdb;
}
*:not([style-scope]):not(.style-scope) {
  --yt-primary-color: hsl(0, 0%, 6.7%);
  --yt-primary-text-color: hsl(0, 0%, 6.7%);
  --yt-hovered-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-secondary-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-disabled-text-color: hsla(0, 0%, 6.7%, 0.3);
  --yt-placeholder-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-border-color: hsl(0, 0%, 93.3%);
  --yt-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
  --yt-searchbox-legacy-border-color: #ccc;
  --yt-searchbox-legacy-border-shadow-color: #eee;
  --yt-searchbox-legacy-button-color: #f8f8f8;
  --yt-searchbox-legacy-button-border-color: #d3d3d3;
  --yt-searchbox-legacy-button-focus-color: #e9e9e9;
  --yt-searchbox-legacy-button-hover-color: #f0f0f0;
  --yt-searchbox-legacy-button-hover-border-color: #c6c6c6;
  --yt-searchbox-legacy-button-icon-color: #333;
  --yt-commentbox-border-inactive: hsl(0, 0%, 93.3%);
  --yt-commentbox-border-active: hsla(0, 0%, 6.7%, .6);
  --yt-primary-disabled-button-text-color: hsl(0, 0%, 100%);
  --yt-disabled-paper-button-color: var(--yt-disabled-text-color);
  --yt-brand-paper-button-color: hsl(3, 81.8%, 49.6%);
  --yt-paper-radio-button-checked-color: hsl(0, 0%, 53.3%);
  --yt-paper-button-ink-color: hsl(0, 0%, 53.3%);
  --yt-icon-color: hsla(0, 0%, 6.7%, .4);
  --yt-icon-hover-color: hsla(0, 0%, 6.7%, .8);
  --yt-icon-disabled-color: hsla(0, 0%, 6.7%, .6);
  --yt-icon-active-color: hsl(0, 0%, 6.7%);
  --yt-expand-color: hsla(0, 0%, 6.7%, .6);
  --yt-metadata-color: hsla(0, 0%, 6.7%, .6);
  --yt-toggle-color: hsl(206.1, 79.3%, 52.7%);
  --yt-playlist-background-header: hsl(0, 0%, 93.3%);
  --yt-playlist-background-item: hsla(0, 0%, 93.3%, .6);
  --yt-playlist-title-text: hsl(0, 0%, 6.7%);
  --yt-playlist-message-text: hsla(0, 0%, 6.7%, .6);
  --yt-subscribe-button-text-color: hsl(0, 0%, 100%);
  --yt-brand-color: hsl(3, 81.8%, 49.6%);
  --yt-button-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-button-payment-text-color: hsl(0, 0%, 100%);
  --yt-video-publish-date-color: hsla(0, 0%, 6.7%, .6);
  --yt-vat-notice-text: hsla(0, 0%, 6.7%, .6);
  --yt-copyright-text: hsla(0, 0%, 6.7%, .6);
  --yt-guide-entry-hover-background-color: hsla(0, 0%, 0%, .04);
  --yt-survey-button-color: hsl(206.1, 79.3%, 52.7%);
  --yt-thumbnail-placeholder-color: hsl(0, 0%, 89%);
  --yt-transcript-cue-hover-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-background-color: hsl(0, 0%, 93.3%);
  --yt-transcript-toolbar-text: hsl(0, 0%, 6.7%);
  --yt-featured-channel-title-text-color: hsla(0, 0%, 0%, .54);
  --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
  --yt-badge-background: hsla(0, 0%, 93.3%, .6);
  --yt-badge-disabled-color: hsla(0, 0%, 53.3%, .4);
  --yt-collection-badge-color: hsla(0, 0%, 6.7%, .8);
  --yt-owner-badge-color: hsla(0, 0%, 6.7%, .4);
  --yt-simple-badge-color: hsla(0, 0%, 6.7%, .6);
  --yt-ad-badge-text-color: hsl(0, 0%, 100%);
  --yt-simple-menu-header-background: hsl(0, 0%, 93.3%);
  --yt-item-section-header-color: hsla(0, 0%, 6.7%, .6);
  --yt-menu-hover-backgound-color: hsl(0, 0%, 93.3%);
  --yt-menu-focus-background-color: hsla(0, 0%, 6.7%, .2);
  --yt-app-background: hsl(0, 0%, 100%);
  --yt-main-app-background: hsl(0, 0%, 98%);
  --yt-main-app-background-tmp: hsl(0, 0%, 100%);
  --yt-guide-background: hsl(0, 0%, 96%);
  --yt-dialog-background: hsl(0, 0%, 100%);
  --yt-searchbox-background: hsl(0, 0%, 100%);
  --yt-channel-header-background: hsl(0, 0%, 98%);
  --yt-playlist-sidebar-background: hsl(0, 0%, 98%);
  --yt-transcript-background: hsl(0, 0%, 100%);
  --yt-watch-card-secondary-text-color: hsl(0, 0%, 53.3%);
  --yt-watch-card-album-header-background: hsl(0, 0%, 100%);
  --yt-comment-text-color: hsl(0, 0%, 6.7%);
  --yt-comment-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-moderation-panel-background: hsla(0, 0%, 93.3%, .6);
  --yt-moderation-panel-hover: hsla(0, 0%, 93.3%, .8);
  --yt-moderation-panel-comment-text: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-comment-metadata-text: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-color: hsla(0, 0%, 6.7%, .6);
  --yt-moderation-icon-hover-color: hsl(0, 0%, 6.7%);
  --yt-moderation-panel-likely-spam-divider: hsla(0, 0%, 53.3%, .1);
  --yt-backstage-metadata-text-color: hsl(0, 0%, 53.3%);
  --yt-backstage-video-link-background-color: hsla(0, 0%, 93.3%, .4);
  --yt-backstage-image-alert-color: hsla(0, 0%, 6.7%, .6);
  --yt-backstage-cancel-background-color: hsl(0, 0%, 100%);
  --yt-backstage-cancel-color: hsla(0, 0%, 6.7%, .4);
  --yt-shopping-product-info: hsla(0, 0%, 6.7%, .8);
  --yt-offer-background-color: hsla(0, 0%, 93.3%, .4);
}
