<div class="container">
  <header>
    <div id="uoft"><img src="/assets/images/uoft.png"/></div>
    <div id="iml"><img src="/assets/images/iml.png"/></div>
    <h1 class="headline text-center">Training</h1>
  </header>

  <div class="body text-justify">
    <p>You will now watch a few videos to become familiar with the different types of impairments that can occur when watching videos. After each video you will be asked to rate the technical quality of the video using the following scale:</p>
    <ul class="left60">
      <li class="pad0">Excellent</li>
      <li class="pad0">Good</li>
      <li class="pad0">Fair</li>
      <li class="pad0">Poor</li>
      <li class="pad0">Bad</li>
      <li class="pad0">Terrible</li>
    </ul>
    <p>Remember that in this study, technical quality refers to how impaired or unimpaired the video playback is.</p>

    <div class="text-center">
      <button id="nextBtn" class="top30 btn btn-primary btn-sm" (click)="onSubmit()" >Next</button>
    </div>
  </div>
</div>
