  <header>
    <div id="uoft"><img src="assets/images/uoft.png"/></div>
    <div id="iml"><img src="assets/images/iml.png"/></div>
    <h3 class="headline-dbl text-center">Session 1</h3>
    <h1 id="blockHead" class="headline-dbl text-center"></h1>
  </header>

  <div class="body text-center">
    <h3 id="selectAnswer" class="top0 bot20 text-center">Please answer all questions.</h3>

    <h3 id="blockSpan" class="top0 text-center"></h3>
    <br>
    <ol type="1" class="text-justify">
      <li>Judging the last 5 videos as a whole, how would you rate the Overall Technical Quality? <br>
        <input type="radio" name="quality" value="5"> Excellent <br>
        <input type="radio" name="quality" value="4"> Good <br>
        <input type="radio" name="quality" value="3"> Fair <br>
        <input type="radio" name="quality" value="2"> Poor <br>
        <input type="radio" name="quality" value="1"> Bad <br>
      </li>
      <li>Judging the last 5 videos, would you consider the Overall Technical Quality to be acceptable? <br>
        <input type="radio" name="acceptibility" value="1"> Yes <br>
        <input type="radio" name="acceptibility" value="0"> No <br>
      </li>
    </ol>
    <button id="submitBtn" (click) = "onSubmit()" class="top30 btn btn-primary btn-sm">Submit</button>
    <button id="nextBtn" class="hide"></button>
  </div>
