<header>
  <div id="uoft"><img src="/assets/images/uoft.png"/></div>
  <div id="iml"><img src="/assets/images/iml.png"/></div>
  <h3 class="headline-dbl text-center">Video Questionaire Q300</h3>
  <h1 id="blockHead" class="headline-dbl text-center"></h1>
</header>

<form (ngSubmit)="onSubmit()" #f="ngForm">

<div class="body text-center">
  <div class="text-justify">
    <h3 id="selectAnswer" class="top0 bot20 text-center">Please answer all questions.</h3>


    <ol type="1">
      <li>How would you rate the technical quality of the video you just watched?  <br>
        <input required type="radio" name="quality" value="5" ngModel> Excellent <br>
        <input type="radio" name="quality" value="4" ngModel> Good <br>
        <input type="radio" name="quality" value="3" ngModel> Fair <br>
        <input type="radio" name="quality" value="2" ngModel> Poor <br>
        <input type="radio" name="quality" value="1" ngModel> Bad <br>
      </li>
      <li>Would you consider the technical quality of the video to be acceptable?  <br>
        <input required type="radio" name="acceptibility" value="1" ngModel> Yes <br>
        <input type="radio" name="acceptibility" value="0" ngModel> No <br>
      </li>
      <li id="lastQuestion">Compared to the previous video, your viewing experience with this video is: <br>
        <input required type="radio" name="prev" value="2" ngModel> Much better <br>
        <input type="radio" name="prev" value="1" ngModel> A little better <br>
        <input type="radio" name="prev" value="0" ngModel> The same <br>
        <input type="radio" name="prev" value="-1" ngModel> A little worse <br>
        <input type="radio" name="prev" value="-2" ngModel> Much worse <br>
      </li>
    </ol>
  </div>
  <button class="top30 btn btn-primary btn-sm" type="submit" [disabled]="!f.valid">Submit</button>
  <!--<button id="submitBtn" (click)="onSubmit()" class="top30 btn btn-primary btn-sm">Submit</button>-->
  <button id="nextBtn" class="hide"></button>

</div>

</form>
