<!--<iframe width="560" height="315" [src]="source | safe" frameborder="0" allowfullscreen></iframe>-->

<div class="containAll">
<youtube-player id="youtubePlayer" [ngStyle]="{ 'filter': getBrightness()}"
                [videoId]="id"
                [width]="1020"
                [height]="600"
                (ready)="savePlayer($event)"
                (change)="onStateChange($event)"
></youtube-player>

<div id="pauseSpinner" *ngIf="paused"></div>
<p id="networkFailureMessage" *ngIf="networkFailed" class="videoLayover">Network Failure</p>

<p *ngIf="isA" class="top20">This is an example of a video that fails to start playing.</p>
<p *ngIf="isI" class="top20">This is an example of a video that has freezing interruptions.</p>
<p *ngIf="isR" class="top20">This is an example of a video that starts to play successfully, but fails before it is complete</p>
<p *ngIf="isN" class="top20">This is an example of a video with no interruptions or failures.</p>
</div>
