<header>
  <div id="uoft"><img src="/assets/images/uoft.png"/></div>
  <div id="iml"><img src="/assets/images/iml.png"/></div>
  <h1 class="headline text-center">Demographic Questionnaire</h1>
</header>

<div class="body text-center">
  <div class="text-justify">
    <h3 id="selectAnswer" class="top0 bot20 text-center">Please answer all questions.</h3>
    <h5>Thank you for participating in this research study. You will be asked to watch a series of online videos and answer questions about your experience watching these videos.</h5>

    <h5 class="top20">Before you begin, please provide some demographic information about yourself.</h5>
    <ol type="1">
      <li>What is your age? <br>
        <input id="age" type="number" value="" placeholder="Please Specify"> <br>
      </li>
      <li>What is your gender? <br>
        <input type="radio" name="gender" value="female"> Female <br>
        <input type="radio" name="gender" value="male"> Male <br>
        <input type="radio" name="gender" value="n/a"> Prefer not to answer <br>
      </li>
      <li>How would you rate your English proficiency? <br>
        <input type="radio" name="english" value="native"> Native <br>
        <input type="radio" name="english" value="fluent"> Fluent <br>
        <input type="radio" name="english" value="conversational"> Conversational <br>
        <input type="radio" name="english" value="limited"> Limited <br>
      </li>
      <li>Which of the following best describes the highest level of education you have completed? <br>
        <input type="radio" name="education" value="highschool"> Highschool equivalent <br>
        <input type="radio" name="education" value="undergrad"> Some undergraduate/college <br>
        <input type="radio" name="education" value="bachelors"> Bachelors degree <br>
        <input type="radio" name="education" value="masters"> Masters degree <br>
        <input type="radio" name="education" value="phd"> Doctoral degree <br>
        <input type="radio" name="education" value="professional"> Professional degree (MD, JD, CA, etc) <br>
        <input type="radio" name="education" value="other"> Other <br>
      </li>
    </ol>
  </div>
  <button id="submitBtn" (click)="onSubmit()" class="top30 btn btn-primary btn-sm">Submit</button>
  <button id="nextBtn" class="hide"></button>
</div>
